[user]
	name = Collin Eddy
	email = linemouth@gmail.com
[http]
	sslBackend = schannel
	sslVerify = false
[init]
	defaultBranch = main
[alias]
	hist = log --pretty=format:'%C(white bold)%>|(16)%h%Creset %cd [%C(green)%cn%Creset] %s%C(yellow)%d%Creset' --graph --date=short --decorate-refs-exclude=*/origin/*
	h = hist -10
    github = "!f() { \
        if [ -z \"$1\" ]; then \
            echo 'Usage: git github <repository>'; \
        else \
            git clone --recurse-submodules git@github.com:linemouth/$1.git && cd $1; \
        fi; \
    }; f"
	d = diff
	dt = difftool
	dd = difftool --dir-diff --no-symlinks
    github = "!f() { git clone git@github.com:linemouth/$1.git --recurse-submodules --jobs 8; }; f"
	ohwait = commit --amend --no-edit
    forget = rm -r --cached
    branches = branch -a
    sup = !git submodule init && git submodule update --remote --merge --recursive
	pullf = !git fetch && git reset --hard @{u}
    pushf = push --force
    rev = !git add . && git ohwait && git pushf
[core]
	autocrlf = true
	safecrlf = false
    # Notepad++
	editor = \"C:/Program Files/Notepad++/notepad++.exe\" -multiInst -notabbar -nosession -noPlugin
    # Visual Studio Code
    #editor = code -n --new-window
	fscache = true
	symlinks = false
[credential]
	helper = manager
# Large File Storage configuration
#[filter "lfs"]
#    clean = git-lfs clean -- %f
#    smudge = git-lfs smudge -- %f
#    process = git-lfs filter-process
#    required = true
[clone]
	filterSubmodules = true
[checkout]
	workers = 8
[fetch]
	parallel = 8
[pull]
	rebase = false
[push]
	default = simple
	autoSetupRemote = true
    recurseSubmodules = check
[diff]
	tool = bc4
[difftool]
	prompt = false
    trustExitCode = true
[difftool "bc4"]
    path = \"C:/Program Files/Beyond Compare 4/BComp.exe\"
    cmd = \"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = bc4
[mergetool]
	keepBackup = false
	prompt = false
    trustExitCode = true
[mergetool "bc4"]
    path = \"C:/Program Files/Beyond Compare 4/BComp.exe\"
    cmd = \"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
